.filter-container {
  margin: 10px 10px;
  height: 130px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.filter-input {
  border-radius: 5px;
  padding-left: 5px;
  height: 50px;
  width: 270px;
}

.store-select__indicator-separator {
  display: none;
}

.store-select__placeholder {
  color: var(--secondary-text-color) !important;
  font-size: 16px;
}

.store-select__control--is-focused {
  border: 1px solid #fff !important;
  color: var(--secondary-text-color) !important;
}

.store-select__single-value {
  color: var(--secondary-text-colorcolor) !important;
}

@media (min-width: 576px) {
  .filter-container {
    margin: 40px 40px;
    padding-left: 40px;
  }
}

@media (min-width: 992px) {
  .filter-container {
    margin: 40px 120px;
  }
}
